@charset "utf-8";

@import "../node_modules/bulma/sass/utilities/initial-variables";
@import "../node_modules/bulma/sass/utilities/functions";
//set custom CSS variables here
$primary: #01BBC2;
$navbar-background-color: #12153E;
$link: #E83DC4;
$navbar-item-color: #ffffff;
$navbar-padding-vertical: 0.75rem;
$navbar-dropdown-arrow: #ffffff;
$navbar-dropdown-background-color: $navbar-background-color;
$navbar-dropdown-item-hover-color: $link;
$navbar-item-hover-background-color: $primary;
$navbar-tab-hover-background-color: $primary;
$navbar-dropdown-item-hover-background-color: $primary;
$scheme-invert: #12153E;
$background: #12153E;
$dark: #12153E;
$text: $white;
$text-strong: $text;
$footer-background-color: $primary;

#subscribe-container a{
    color: $primary;
    text-decoration: none;

}
#subscribe-container a:hover{
    color: "white";

}



// importing the rest of bulma
@import "../node_modules/bulma/bulma.sass";
