#fname {
    width: 50%;
}

#lname {
    width: 50%;
    
}

#email {
    width: 100%;
}

#submitWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#submitButton {
    width: 30%;
}